* {
  box-sizing: border-box;
  background-color: #888;
}

input[type=number]{
  width: 55px;
} 

#canvas {
  border: 2px solid black;
  flex-shrink: 0;
}

.flexbox {
  display: flex;
  flex-direction: row;
}

.flexbox > div {
  width: 102px;
  text-align: right;
}

.button {
  width:auto;
  margin-top: 7px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 0px;
  padding: 0px 30px;
}